html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
}

.main {
}

.footer {
  flex: 0 0 auto;
}

.swiper-container {
}

.container {
  max-width: 1670px;
  padding: 0px 15px;
  margin: 0px auto;
}

body._lock {
  overflow: hidden;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: #18072d;
  color: #fff;
  font-size: 20px;
}
