//<COLORS>========================================
$color-black: #000000;
$color-white: #ffffff;

//background

//text
// $color-text-1: ;
// $color-text-2: ;
// $color-text-3: ;
// $color-text-4: ;
//other

//</COLORS>========================================

//<FONTS>========================================
@font-face {
  font-family: 'HeliosBlackC';
  src: local('Alethia Next Light'), local('AlethiaNext-Light'), url('../fonts/HeliosBlackC_Regular.otf');
  font-weight: 400;
  font-style: normal;
  font-family: 'HeliosExtC';
  src: local('Alethia Next Light'), local('AlethiaNext-Light'), url('../fonts/HeliosExtC_Regular.otf');
  font-weight: 400;
  font-style: normal;
  font-family: 'HeliosExtC';
  src: local('Alethia Next Light'), local('AlethiaNext-Light'), url('../fonts/HeliosExtC_Bold.otf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  src: url(../fonts/GilroyBold.woff2) format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  src: url(../fonts/GilroyMedium.woff2) format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  src: url(../fonts/GilroyRegular.woff2) format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Helios;
  src: url(../fonts/HeliosBlackC.woff2) format('woff2');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Helios;
  src: url(../fonts/HeliosExtCBold.woff2) format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Mandatory;
  src: url(../fonts/MandatoryRegular.woff2) format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: PlusJakarta;
  src: url(../fonts/PlusJakartaRegular.woff2) format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: PlusJakarta;
  src: url(../fonts/PlusJakartaMedium.woff2) format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: PlusJakarta;
  src: url(../fonts/PlusJakartaLight.woff2) format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: PlusJakarta;
  src: url(../fonts/PlusJakartaBold.woff2) format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'HeliosBlackC';
  src: local('Alethia Next Light'), local('AlethiaNext-Light'), url('../fonts/HeliosBlackC_Regular.otf');
  font-weight: 400;
  font-style: normal;
  font-family: 'HeliosExtC';
  src: local('Alethia Next Light'), local('AlethiaNext-Light'), url('../fonts/HeliosExtC_Regular.otf');
  font-weight: 400;
  font-style: normal;
  font-family: 'HeliosExtC';
  src: local('Alethia Next Light'), local('AlethiaNext-Light'), url('src/fonts/HeliosExtC_Bold.otf');
  font-weight: 700;
  font-style: normal;
}
$fontFamily-main: PlusJakarta;
$fontFamily-second: Helios;
$fontFamily-third: 'HeliosBlackC';
// $fontSize: ;

//</FONTS>========================================

//<SCREENS>========================================
$screen-s: 375px;
$screen-m: 610px;
$screen-l: 768px;
$screen-xl: 1023px;
$screen-xxl: 1440px;
$screen-xxxl: 1920px;
//</SCREENS>========================================
