//<COLORS>========================================
$color-black: #000000;
$color-white: #ffffff;

//background

//text
// $color-text-1: ;
// $color-text-2: ;
// $color-text-3: ;
// $color-text-4: ;
//other

//</COLORS>========================================

//<FONTS>========================================

// $fontFamily: ;
// $fontSize: ;

//</FONTS>========================================

//<SCREENS>========================================
$screen-s: 375px;
$screen-m: 610px;
$screen-l: 768px;
$screen-xl: 1080px;
$screen-xxl: 1440px;
$screen-xxxl: 1920px;
//</SCREENS>========================================
