.header {
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.015) 0%, rgba(0, 0, 0, 0.738) 40%);

  &__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
  }

  &__logo {
    position: relative;
    z-index: 3;
    padding-right: 20px;
    margin-left: 45px;

    img {
      max-width: 100%;
    }

    @media (max-width: 1023px) {
      margin-left: 6px;
    }
  }

  &__menu {
    position: relative;
    top: 5px;
    padding-top: 0px;
  }

  .menu {
    &__body {
      @media (max-width: 1050px) {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        padding-top: 110px;

        overflow: auto;
        opacity: 0;
        background: url('../img/header/back.webp') 20% / cover no-repeat;
        transition: left 0.6s ease 0s, opacity 1.5s ease 0s;
        &._active {
          left: 0%;
          opacity: 1;
          z-index: 2;
          @media (max-width: 390px) {
          }
          .menu__item {
          }
        }
      }
    }

    &__list {
      display: flex;
      text-align: center;
      position: relative;
      z-index: 3;
      flex-wrap: wrap;

      @media (max-width: 1050px) {
        display: block;
        text-align: left;
        padding: 23px 0 15px 12px;
      }
    }
    &__item {
      margin-right: 34.1px;
    }
    &__link {
      position: relative;
      color: rgba(255, 255, 255, 1);

      font-weight: 500;
      line-height: 28px;
      display: inline-block;
      padding: 8px;
      font-size: 20px;
      opacity: 0.7;
      transition: 0.3s;
      padding-bottom: 32px;
      span {
        position: relative;
        &::after {
          position: absolute;
          content: '';
          height: 2px;
          background: linear-gradient(90deg, #00dbde 0%);
          box-shadow: 2px 2px 7px 0px rgba(41, 183, 227, 0.33);
          bottom: -108px;
          right: 0;
          width: 0;
          transition: all 0.3s;
        }
      }
      @media (max-width: 768px) {
      }
    }
  }
  .hidden {
    opacity: 0%;
  }
}
.menu__icon {
  display: none;
}

@media (max-width: 1050px) {
  .menu__icon {
    z-index: 10;
    margin: 20px;
    z-index: 5;
    display: block;
    position: relative;
    width: 32px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #edf0f4;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: '';
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    margin-left: 7px;
    width: 25px;
    bottom: 0;
  }
  .menu__icon span {
    margin-left: 13px;
    right: 15px;
    top: 50%;
    width: 19px;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    margin-left: 7px;
    width: 30px;
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    margin-left: 7px;
    width: 30px;
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
}
@media (max-width: 767px) {
  .menu__icon {
    margin-top: 8px;
    margin-right: 5px;
  }
}
@media (max-width: 475px) {
  .menu__icon {
  }
}
