.button {
  // &__link {
  //   color: #fff;
  //   width: 210px;
  //   height: 60px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;

  //   padding: 15px 20px;
  //   background-color: #7a42f4;

  //   overflow: hidden;
  //   position: relative;
  // }
  top: -2px;
  right: 5px;
  display: inline-block;
  position: relative;
  padding: 20px 58px;
  background: -o-linear-gradient(351.27deg, #7a42f4 0, #4642f4 100%);
  background: linear-gradient(98.73deg, #7a42f4 0, #4642f4 100%);
  font-family: Helios, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 1;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  text-transform: none;
}
