.swiper {
  &-container {
    padding-bottom: 75px;
    &-first,
    &-second {
      overflow: hidden;
      position: relative;
      max-height: 370px;
      @media (max-width: 768px) {
        max-height: 260px;
      }

      @media (max-width: 565px) {
        padding-bottom: 45px;
        max-height: 370px;
      }
      @media (max-width: 374px) {
        max-height: 370px;
      }
    }
  }

  &-pagination {
    position: absolute;
    top: -186px;
    left: 204px;
    height: 405px;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.4);
    transform: rotate(-90deg);

    &-progressbar {
      &-fill {
        background-color: #7f5cff !important;
        right: 10px !important;
        // left: 18.5px !important;
        // top: 78px !important;
        // width: 4px;
        // height: 100% !important;
        // color: #7f5cff;
        // @media (max-width: 1024px) {
        //   top: 70px !important;
        // }
      }
    }
  }
}
.swiper-pagination-progressbar.swiper-pagination-horizontal {
  right: 10px !important;
  top: 78px !important;
}
.progress-bar {
  &-svg {
    position: absolute;
    top: 507px;
    left: 62px;
  }
}
