.about {
  position: relative;
  display: flex;
  align-items: center;

  min-height: 59vh;

  &__container {
    position: relative;
    z-index: 2;
    flex: 1 1 auto;
  }

  &__body {
    padding: 100px 0;
    &-info {
      margin-bottom: 40px;
      line-height: 140%;
    }
  }

  &__background {
    max-width: 650px;
    padding: 70px 0 70px 60px;
  }

  &__title {
    margin-bottom: 40px;
    line-height: 140%;
  }
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    &_b {
      z-index: -1;
      @media (max-width: 480px) {
        background-position: 60% 50%;
      }
      @media (min-width: 391px) {
        display: block;
      }
      @media (max-width: 390px) {
        display: none;
      }
    }
    &_l {
      z-index: -1;
      @media (min-width: 391px) {
        display: none;
      }
      @media (max-width: 390px) {
        display: block;
        position: relative;
        min-height: 380px;
        order: 1;
      }
    }
  }
}
.info {
  &__title {
    margin-bottom: 30px;
  }
  &__subtitle {
    margin-left: 30px;
  }
}
