.about {
  padding: 110px 0px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 1030px;
  background: url(../img/about-us/back7.jpeg) 25% 0 no-repeat;
  background-size: cover;

  @include screen-xxl {
    height: 800px;
  }
  @include screen-l {
    height: 686px;
    background: url(../img/about-us/back7.jpeg) 45% 0 no-repeat;
    background-size: cover;
  }

  &__con {
    padding: 0 0px 45px 103px;
    flex: 1 1 auto;
    position: relative;
    z-index: 2;
  }

  &__body {
    text-transform: uppercase;
    max-width: 610px;
    position: relative;
    &-info {
      margin-bottom: 40px;
    }
  }

  &__background {
    max-width: 650px;
    padding: 70px 0 70px 60px;
  }

  &__title {
    margin-bottom: 5px;
  }
  &__subtitle {
    font-size: 45px;
    margin: 7px 0 22px;
    @media (max-width: 1023px) {
      font-size: 26px;
    }
  }
  &__text {
    text-transform: none;
    font-size: 20px;
    position: relative;
  }

  &__img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    @media (min-width: 391px) {
      display: none;
    }
    @media (max-width: 390px) {
      display: block;
      position: relative;
      min-height: 380px;
      order: 1;
    }
  }
}
