.about {
  padding: 110px 0px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 1030px;
  background: url('../img/about-us/backImg.webp') 25% 0 no-repeat;
  background-size: cover;
  &::before {
    content: '';
    position: absolute;
    width: 1422px;
    height: 1000px;
    top: 145px;
    left: -29%;
    background: url('../img/about-us/blur-for-text.webp') 0 no-repeat;
  }
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 145px;
    right: -40%;
    background: url(../img/about-us/blur-for-img.webp) 0 no-repeat;
  }
  @include screen-xxl {
    height: 800px;
    background: url(../img/about-us/backImg.webp) 53% 0 no-repeat;
  }

  @include screen-l {
    height: 686px;
    background: url(../img/about-us/backImg.webp) 55% 0 no-repeat;
    background-size: cover;
  }

  @media (max-width: 390px) {
    padding: 0;
    flex-direction: column;
    background: none;
    height: 1080px;
  }

  &__con {
    padding: 0 0px 0px 60px;
    flex: 1 1 auto;
    position: relative;
    z-index: 2;

    @media (max-width: 425px) {
      padding: 0 0px 0px 30px;
    }
    @media (max-width: 390px) {
      background: #01001f;

      padding: 72px 0px 0px 23px;
      flex: 1 1 auto;
      order: 2;
      &::before {
        content: '';
        position: absolute;
        width: 390px;
        height: 476px;
        bottom: 0;
        left: 0;
        background: url('../img/about-us/Ellipse1.svg') 0 0 no-repeat;
      }
    }
  }

  &__body {
    height: 560px;
    padding-top: 70px;
    text-transform: uppercase;
    max-width: 590px;
    position: relative;
    padding-left: 65px;
    @media (max-width: 425px) {
      padding-left: 30px;
    }
    @media (max-width: 390px) {
      max-width: 390px;
      padding-left: 25px;
      padding-top: 0;
    }
  }

  &__background {
    max-width: 650px;
    padding: 70px 0 70px 60px;
  }

  &__title {
    margin-bottom: 5px;
  }

  &__subtitle {
    font-size: 45px;
    margin: 7px 0 22px;
    @media (max-width: 1023px) {
      font-size: 26px;
      margin: 7px 0 50px;
    }
  }

  &__text {
    text-transform: none;
    font-size: 20px;
    position: relative;
    opacity: 0.8;
    @media (max-width: 1023px) {
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0em;
      text-align: left;
      max-width: 315px;
    }
  }

  &__img {
    background: url(../img/about-us/back7.jpeg) -222px 0 no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;

    @media (min-width: 391px) {
      display: none;
    }

    @media (max-width: 390px) {
      display: flex;
      display: block;
      position: relative;
      max-height: 383px;
      order: 1;
    }
  }
}
.container__capter {
  display: flex;
  margin-top: 16px;
  margin-left: 5px;
}

.capter-slide {
  display: none;
}

.capter-slide h4 {
  margin: 0;
  font-size: 18px;
  color: white;
}

.progress {
  &__wrapper {
    width: 406px;
    height: 60px;

    // overflow: hidden;
    position: relative;
    padding-bottom: 82px;
    @media (max-width: 1024px) {
      width: auto;
    }
    @media (max-width: 768px) {
      max-width: 90%;
    }
  }

  &__titles {
    position: relative;
    top: 35px;
    left: 2px;
    display: block;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 145%;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  &-bar-svg {
    @media (max-width: 1024px) {
      top: 520px;
    }
    @media (max-width: 425px) {
      left: 26px;
    }
  }
}
