.game {
  position: relative;
  padding: 110px 0px 0px 0px;
  background-image: url('../img/Game/game-bg.webp'), url('../img/Game/game-bg.jpg');
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;

  &__container {
    margin: 0 auto;
    width: 100%;

    @media (max-width: 1150px) {
      flex-direction: column;
      align-items: center;
      display: flex;
    }

    &-wrapper {
      padding: 242px 0 95px;
      position: relative;

      @media (max-width: 1440px) {
        gap: 10px;
      }
      @media (max-width: 1024px) {
        gap: 10px;

        flex-direction: column;
      }
      @media (max-width: 768px) {
        padding: 376px 0 140px;
      }
      @media (max-width: 566px) {
        padding: 21px 0 179px;
      }
    }

    .button-front {
      display: none;
      position: absolute;
      top: 804px;
      right: 80px;
      @media (max-width: 1024px) {
        top: 1136px;
        right: -14px;
      }
    }
  }
  .container {
    &__img {
      &-left {
        display: flex;
        align-items: center;
        width: 500px;
        right: 102.5%;
        top: 7.5%;
        @media (max-width: 1440px) {
          right: 80.5%;
        }
        @media (max-width: 1200px) {
          flex: 0 0 33%;
          order: 3;
        }
        @media (max-width: 768px) {
          display: none;
        }
      }

      &-right {
        width: 500px;
        left: 106%;
        top: -1%;
        @media (max-width: 1440px) {
          display: flex;
          align-items: center;
        }
        @media (max-width: 1200px) {
          flex: 0 0 40%;
          order: 2;
        }
        @media (max-width: 768px) {
          display: none;
        }
      }
    }
    &__info {
      position: relative;
      display: flex;
      justify-content: center;
      // align-items: center;
      gap: 15px;

      @media (max-width: 1200px) {
        flex-wrap: wrap;
      }
      @media (max-width: 350px) {
        width: 426px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 35px;
      }
    }

    &__title {
      text-transform: uppercase;
      padding-top: 70px;
      font-size: 45px;
      font-weight: 700;
      line-height: 49px;
      letter-spacing: 0em;
      text-align: center;
      padding-bottom: 30px;

      @media (max-width: 768px) {
        padding-top: 24px;
      }

      @media (max-width: 567px) {
        font-size: 28px;
        font-weight: 700;
        line-height: 31px;
        padding-top: 25px;

        padding-bottom: 15px;
      }
    }

    &__text {
      font-size: 20px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0em;
      text-align: center;
      max-width: 565px;
      padding-bottom: 17px;

      @media (max-width: 567px) {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        padding-bottom: 0;
      }
      @media (max-width: 375px) {
        max-width: 245px;
      }
    }

    &__center {
      position: relative;
      text-align: center;
      height: 600px;
      width: 600px;
      justify-content: flex-start;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      // background: url('../img/Game/mulo.png') repeat-x;
      background: url('../img/Game/Vector.webp'), url('../img/Game/Vector.png');
      // background: linear-gradient(180deg, rgba(58, 78, 255, 0) 0%, rgba(156, 58, 255, 0.14) 100%);

      @media (max-width: 1200px) {
        flex: 0 0 63%;
        order: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 500px;
      }
      @media (max-width: 890px) {
        padding-top: 20px;
        flex: 0 0 73%;
        padding-bottom: 16px;
        width: 400px;
        order: 1;
      }
      @media (max-width: 425px) {
        flex: 0 0 88%;
        height: 445px;
      }
      @media (max-width: 380px) {
        flex: 0 0 65%;
        height: 500px;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 6px;
        background-color: #56ffeb;
        box-shadow: 0 4px 13px rgba(191, 58, 255, 0.44);
        border-radius: 62px;
      }

      &::before {
        content: '';

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(297deg, rgba(58, 78, 255, 0), rgba(156, 58, 255, 0.14));
        backdrop-filter: blur(5px);
        z-index: -1;
      }
    }
  }

  &-mobile {
    &__personajes {
      display: none;
      order: 2;
      @media (max-width: 768px) {
        margin-top: -10%;
        display: flex;
        align-items: flex-end;
      }
      &-wrapper {
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        align-items: center;
      }
    }
    &__pers {
      margin-bottom: 80px;
      position: relative;
      &-woman {
        position: relative;
        top: 65px;
        transform: scale(1.2) translateX(-15%);
        @media (max-width: 380px) {
          transform: scale(0.9) translateX(-31%);
        }
      }
      &-man {
        position: relative;
        transform: scale(1.3) translateX(2%);
        @media (max-width: 380px) {
          transform: scale(1) translateX(8%);
        }
      }
    }
    &__round {
      position: relative;
      z-index: 1;

      transform: translateX(-5%) translateY(75%);
      @media (max-width: 380px) {
        transform: translateX(-29%) translateY(46%);
      }
    }
    &__blur {
      &-top {
        display: none;

        position: absolute;
        width: 500px;
        height: 500px;
        z-index: -1;
        top: 122px;
        left: -91px;
        transform: rotate(42deg);
        @media (max-width: 1024px) {
          display: inline;
        }
        @media (max-width: 425px) {
          top: -122px;
          left: -91px;
          transform: rotate(42deg);
        }
      }
      &-bot {
        z-index: -1;
        position: absolute;
        width: 500px;
        height: 500px;
        top: 810px;
        right: -200px;
        @media (max-width: 425px) {
          top: 610px;
          right: -200px;
        }
      }
    }
  }
}

.text__info {
  margin-bottom: 30px;

  @media (max-width: 567px) {
    margin-bottom: 27px;
  }
}

.baner {
  z-index: 100;
  position: absolute;
  top: -893px;
  left: -76px;
  overflow: hidden;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  -webkit-transform: rotate(-9.09deg);
  -ms-transform: rotate(-9.09deg);
  transform: rotate(-9.09deg);
  // background: rgba(255, 255, 255, 0.04);
  background-image: url('../img/Game/lines-baner.png');
  -webkit-backdrop-filter: blur(200px);
  backdrop-filter: blur(200px);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  text-transform: uppercase;

  @media (max-width: 1440px) {
    top: -178px;
  }
  @media (max-width: 1024px) {
    top: -131px;
  }
  @media (max-width: 768px) {
    top: -30px;
  }
  @media (max-width: 570px) {
    top: -237px;
  }
  @media (max-width: 425px) {
    top: -264px;
  }

  span {
    font-weight: 700;
    font-size: 200px;
    padding: 0 2vw;
    line-height: 1.4;
    letter-spacing: 0.01em;
    color: #fff;
    @media (max-width: 1440px) {
      font-size: 52px;
      font-weight: 700;
      line-height: 73px;
      letter-spacing: 0.01em;
      text-align: center;
    }

    @media (max-width: 1024px) {
    }
  }
  &.small {
    z-index: 1000;
    background-color: #000;
    border: none;
    top: -235px;
    left: -701px;
    @media (max-width: 1440px) {
      top: -40px;
    }

    @media (max-width: 1024px) {
      top: -55px;
    }
    @media (max-width: 768px) {
      top: 142px;
    }
    @media (max-width: 570px) {
      top: -77px;
    }
    @media (max-width: 425px) {
      top: -103px;
    }

    span {
      font-size: 72px;
      background: -webkit-linear-gradient(left, #21fcff, #fd40ff);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @media (max-width: 1440px) {
        font-size: 33px;
        font-weight: 700;
        line-height: 46px;
        letter-spacing: 0.01em;
        text-align: right;
      }
      @media (max-width: 768px) {
        font-size: 19px;
        font-weight: 700;
        line-height: 26px;
      }
    }
  }

  &__container {
    width: fit-content;
    display: flex;
    position: relative;
    -webkit-transform: translate3d(var(--move-initial), 0, 0);
    transform: translate3d(var(--move-initial), 0, 0);
    -webkit-animation: 12s linear infinite baner;
    animation: 12s linear infinite baner;
    white-space: nowrap;
    &-small {
      animation: 10s linear infinite baner;

      width: fit-content;
      display: flex;
      position: relative;
      -webkit-transform: translate3d(var(--move-initial), 0, 0);
      transform: translate3d(var(--move-initial), 0, 0);
      -webkit-animation: 12s linear infinite baner;
      animation: 12s linear infinite baner;
      white-space: nowrap;
    }
  }
}
@-webkit-keyframes baner {
  0% {
    -webkit-transform: translate3d(var(--move-initial), 0, 0);
    transform: translate3d(var(--move-initial), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(var(--move-final), 0, 0);
    transform: translate3d(var(--move-final), 0, 0);
  }
}
.star-game {
  position: absolute;
  right: -51px;
  top: 74px;
  @media (max-width: 890px) {
    display: none;
  }
}
