.invest {
  padding: 240px 0 120px 0;
  display: flex;
  position: relative;
  z-index: 1;
  background: #090812;
  @media (max-width: 1700px) {
    padding: 145px 0 130px 0;
  }
  @media (max-width: 768px) {
    background: url('../img/invest/MaskGroup.webp') 0 75%/90% no-repeat,
      url('../img/invest/MaskGroup.png') 0 75%/90% no-repeat;
  }
  @media (max-width: 425px) {
    padding: 58px 0 213px 0;
    background: url('../img/invest/MaskGroup.webp')-227px 68.3%/145% no-repeat,
      url('../img/invest/MaskGroup.png') -227px 68.3%/145% no-repeat;
  }

  &__con {
    position: relative;
  }

  &__body {
    display: flex;
    flex-direction: column;
    @media (max-width: 768px) {
      gap: 300px;
    }

    &-top {
      margin-bottom: 235px;
      @media (max-width: 1150px) {
        margin-bottom: 275px;
      }

      @media (max-width: 425px) {
        margin-bottom: 50px;
      }
    }
    &-bottom {
      max-width: 1200px;
      position: relative;
      // padding: 80px 100px 65px 170px;
      align-self: end;
      &::before {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 1px;
        background: linear-gradient(93deg, rgba(58, 78, 255, 0) 0%, rgba(156, 58, 255, 0.14) 100%);
        backdrop-filter: blur(30px);
      }
      @media (max-width: 1440px) {
        // padding: 50px 20px 50px 50px;
        max-width: 900px;
      }
      @media (max-width: 1024px) {
        padding: 10px 0px 10px 10px;
      }
      @media (max-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: auto;
        padding: 67px 49px 28px 34px;
      }
      @media (max-width: 425px) {
        padding: 0;
        height: 450px;
      }
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 65px;
    @media (max-width: 1700px) {
      gap: 0;
    }
    &::before {
      @media (max-width: 1025px) {
        display: none;
      }

      @media (max-width: 1024px) {
        content: '';
        z-index: -1;
        display: inline;
        height: 50%;
        position: absolute;
        background: linear-gradient(42deg, rgba(58, 78, 255, 0) 0%, rgba(156, 58, 255, 0.14) 100%);
        filter: blur(30px);
        transition: filter 0.5s ease;
        width: 800px;
      }
      @media (max-width: 770px) {
        width: 485px;
      }
      @media (max-width: 425px) {
        width: 400px;
      }
    }

    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }

  .container {
    &__blur {
      // width: 100%;
      // height: 100%;
      &::before {
        content: '';
        z-index: -1;
        top: 240px;
        width: 79%;
        height: 32%;
        position: absolute;
        background: linear-gradient(306deg, rgba(58, 78, 255, 0) 0%, rgba(156, 58, 255, 0.14) 100%);
        filter: blur(30px);
        transition: filter 0.5s ease;
        @media (max-width: 1440px) {
          top: 78px;
        }
        @media (max-width: 1024px) {
          display: none;
        }
      }
    }

    &__left {
      display: flex;
      margin-top: 100px;
      padding: 65px 0px 100px 95px;

      @media (max-width: 1700px) {
        margin-right: 50px;
        padding: 40px 0 0 40px;
      }

      @media (max-width: 1024px) {
        margin-right: 0;
        margin-top: 0;
      }
      @media (max-width: 768px) {
        width: 100%;

        display: flex;
        justify-content: center;
      }
      @media (max-width: 425px) {
        padding: 50px 0px 199px 25px;
      }
    }

    &__right {
      position: relative;
      margin-right: 5px;

      @media (max-width: 768px) {
        left: 0;
      }
      @media (max-width: 768px) {
        margin-top: 50px;
      }
      @media (max-width: 425px) {
        margin-top: -167px;
        left: 15px;
      }
    }

    &__item {
      &-left {
        max-width: 400px;
        margin-right: 100px;
        @media (max-width: 1700px) {
          margin-right: 50px;
        }
        @media (max-width: 768px) {
          margin-right: 0;
        }
      }
      &-title {
        margin-bottom: 20px;
        text-transform: uppercase;
        @media (max-width: 768px) {
          margin-bottom: 25px;
        }
      }
      &-text {
        opacity: 0.6;
        margin-bottom: 30px;

        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        @media (max-width: 768px) {
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          letter-spacing: 0em;
          text-align: left;
          margin-bottom: 15px;
        }

        &-mobile {
          display: none;
          @media (max-width: 768px) {
            display: inline-block;
            opacity: 0.6;
            margin-bottom: 20px;

            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;
            margin-bottom: 30px;
          }
          @media (max-width: 425px) {
            margin-bottom: 30px;
          }
        }
      }

      &-right {
        max-width: 400px;
        padding-right: 30px;
        @media (max-width: 1700px) {
          max-width: 300px;
        }
        @media (max-width: 425px) {
          padding-right: 15px;
        }
      }
    }

    &__text {
      margin-bottom: 35px;
      line-height: 1.6;
      font-size: 20px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0em;
      text-align: left;
    }

    &__text {
      opacity: 0.6;
      font-size: 20px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0em;

      @media (max-width: 768px) {
        display: none;
        margin-bottom: 0;
      }
    }

    &__body {
      display: flex;
      text-align: start;
      display: flex;

      @media (max-width: 768px) {
        flex-wrap: wrap;
        flex-direction: column;
      }
      &-left {
        margin-right: 50px;
        max-width: 445px;
        @media (max-width: 768px) {
          max-width: 440px;
          margin: 0;
        }

        @media (max-width: 425px) {
          margin-right: 20px;
        }
      }

      &-right {
        max-width: 435px;
        align-self: center;
        margin-bottom: 25px;
        @media (max-width: 1440px) {
          max-width: 200px;
        }
        @media (max-width: 425px) {
        }
      }
    }

    &__head {
      text-transform: uppercase;
      margin-bottom: 30px;

      @media (max-width: 768px) {
        font-size: 28px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;

        margin-bottom: 30px;
      }
      @media (max-width: 425px) {
      }
    }
    &__info {
      padding: 70px 102px 65px 100px;
      position: relative;
      @media (max-width: 1440px) {
        padding: 20px 22px 25px 20px;
      }
      @media (max-width: 768px) {
        padding: 40px 20px 50px 35px;
      }

      &-row {
        display: flex;
      }
      &-text {
        @media (max-width: 768px) {
          display: none;
        }
      }
      &-mobile {
        display: none;
        @media (max-width: 768px) {
          display: inline-block;
          margin-bottom: 75px;
        }
      }
    }
  }

  &__images {
    position: relative;
    width: 570px;

    @media (max-width: 1440px) {
      width: 420px;
    }
    @media (max-width: 768px) {
      width: 320px;
    }

    .front-screen {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      @media (max-width: 425px) {
        top: 17px;
        left: 56px;
      }

      .first {
        position: absolute;
        top: 610px;
        left: 156px;

        @media (max-width: 1440px) {
          top: 499px;
          left: 130px;
          height: 180px;
        }

        @media (max-width: 768px) {
          height: 91px;
          left: 125px;
          top: 382px;
        }

        @media (max-width: 425px) {
          height: 108px;

          left: 37px;
          top: 342px;
        }
      }
      .second {
        position: absolute;
        top: 186px;
        left: 31px;
        @media (max-width: 1440px) {
          top: 150px;
          left: 0;
          height: 300px;
        }

        @media (max-width: 768px) {
          top: 101px;
          left: -40px;
          height: 250px;
        }

        @media (max-width: 425px) {
          height: 175px;
          top: 94px;
          left: -47px;
        }
      }
      .picture {
        position: absolute;
        top: 382px;
        left: 346px;

        @media (max-width: 1440px) {
          top: 340px;
          left: 300px;
          height: 100px;
        }

        @media (max-width: 768px) {
          top: 237px;
          left: 184px;
          height: 90px;
        }

        @media (max-width: 425px) {
          height: 68px;
          top: 205px;
          left: 134px;
        }
      }
      .money {
        position: absolute;
        top: 542px;
        left: 109px;

        @media (max-width: 1440px) {
          height: 100px;
          top: 447px;
        }

        @media (max-width: 768px) {
          top: 329px;
          left: 45px;
          height: 100px;
        }

        @media (max-width: 425px) {
          height: 69px;
          left: -3px;
          top: 299px;
        }
      }
      .chain {
        position: absolute;
        top: 213px;
        left: 397px;
        @media (max-width: 1440px) {
          top: 105px;
          left: 285px;
          height: 50px;
        }

        @media (max-width: 768px) {
          top: 104px;
          left: 216px;
          height: 50px;
        }
        @media (max-width: 425px) {
          height: 33px;
          top: 110px;
          left: 165px;
        }
      }
    }
  }

  &__background {
    position: absolute;
    bottom: -18px;

    left: 0;
    z-index: -3;

    @media (max-width: 768px) {
      display: none;
    }
    @media (min-width: 1921px) {
      left: 308px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    width: 1358px;
    height: 1478px;
    top: 0;
    left: 0;
    background: url('../img/invest/fon.svg') 0 0 no-repeat;
    @media (max-width: 768px) {
      display: none;
    }
  }
}
.invest {
  &__star {
    position: absolute;
    right: 518px;
    top: 401px;
    @media (max-width: 1700px) {
      right: 377px;
      top: 425px;
    }

    @media (max-width: 768px) {
      top: 305px;
      right: 92px;
    }
    @media (max-width: 425px) {
      top: 349px;
      right: 36px;
    }
    &-second {
      position: absolute;
      right: 430px;
      top: 338px;
      @media (max-width: 1440px) {
        right: 152px;
        top: 263px;
      }
      @media (max-width: 768px) {
        right: 95px;
        top: -230px;
      }
    }
  }
}
