.team {
  position: relative;
  padding: 140px 0 0 0;
  // background: linear-gradient(#0a0117, #0a0117), url('../img/our-team/lines.webp') 0 0 no-repeat;
  z-index: 1;
  background: #0a0117;
  // background: #7476ed;
  @media (max-width: 786px) {
    padding: 60px 0;
    background: url('../img/our-team/bgmob.webp') 0% 0%/100% no-repeat;
    &::after {
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      background: url('../img/our-team/bgmob1.webp') 0 0 repeat;
    }
  }
  @media (max-width: 425px) {
    padding: 78px 0 0 0;
  }
  &__con {
    position: relative;
  }

  &__info {
    text-align: center;
    text-transform: uppercase;
  }

  &__container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
    @media (max-width: 768px) {
      margin-top: 58px;
    }
  }

  &__column {
    @media (max-width: 1440px) {
      flex: 0 0 50%;
    }

    @media (max-width: 768px) {
      flex: 0 0 100%;
      &:not(:last-child) {
        margin-bottom: 50px;
      }
    }

    .card {
      margin: 0px auto;
      max-width: 400px;

      display: flex;
      flex-direction: column;

      &__img {
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 420px;
        @media (max-width: 768px) {
          margin-bottom: 20px;
        }
      }

      &__profession {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.4;
        text-align: center;
        opacity: 0.6;
      }

      &__name {
        font-size: 45px;
        font-weight: 700;
        line-height: 63px;
        letter-spacing: 0em;
        text-align: center;
        text-transform: uppercase;
      }

      &__social {
        display: flex;
        justify-content: center;

        .social {
          &__item {
            &:not(:last-child) {
              margin-right: 15px;
            }
            list-style-type: none;
          }

          &__link {
            padding: 10px;

            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 18px;
            width: 48px;
            height: 48px;
            background: #00dade00;
            border: 1px solid #767193;
            transition: all 0.3s ease 0s;

            &:hover {
              background: #56ffeb;
            }

            @media (max-width: 425px) {
              width: 48px;
              height: 48px;
              border-radius: 14px;
              padding: 5px;
            }
          }
        }
      }
    }
    &:nth-child(1) {
      .card {
        &__img {
        }

        &__name {
          color: #56ffeb;
        }

        &__text {
        }
      }
    }
    &:nth-child(2) {
      margin-top: 15px;
      .card {
        @media (max-width: 1440px) {
          // flex-direction: column-reverse;
        }
        &__img {
          order: 2;
          @media (max-width: 768px) {
            order: 0;
          }
        }

        &__name {
          color: #2c4dff;
        }

        &__text {
          order: 1;
        }
      }
    }
    &:nth-child(3) {
      margin-top: 100px;
      @media (max-width: 425px) {
        margin-top: 0;
      }
      .card {
        &__img {
        }

        &__name {
          color: #bf3aff;
        }

        &__text {
        }
      }
    }
    &:nth-child(4) {
      .card {
        flex-direction: column-reverse;
        &__img {
          @media (max-width: 768px) {
            order: 1;
          }

          &::after {
            z-index: 2;
            content: '';
            position: absolute;
            width: 46px;
            height: 46px;

            bottom: 7.5%;
            right: 27%;
            background: url('../img/our-team/Star.svg') 0 0 no-repeat;
            transform: translate(50%, 50%);
          }
        }

        &__name {
          color: #fb41ff;
        }

        &__text {
        }
      }
    }
  }

  .baner-bottom {
    z-index: 100;
    position: absolute;
    top: -620px;
    left: -76px;
    overflow: hidden;
    --offset: 20vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
    -webkit-transform: rotate(-9.09deg);
    -ms-transform: rotate(-9.09deg);
    transform: rotate(6deg);
    // background: rgba(255, 255, 255, 0.04);
    background-image: url(../img/Game/baner.png);
    -webkit-backdrop-filter: blur(200px);
    backdrop-filter: blur(200px);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    text-transform: uppercase;

    @media (max-width: 1440px) {
    }
    @media (max-width: 1024px) {
      top: -670px;
    }
    @media (max-width: 768px) {
      top: -30px;
    }
    @media (max-width: 570px) {
      top: -237px;
    }
    &.small {
      z-index: 1000;
      background-color: #000;
      border: none;
      top: 1322px;
      left: -461px;
      @media (max-width: 1440px) {
        top: 1920px;
      }
      @media (max-width: 1024px) {
        top: 1950px;
      }
      @media (max-width: 768px) {
        top: 2820px;
      }
      @media (max-width: 425px) {
        top: 2743px;
      }

      span {
        font-size: 72px;

        background: -webkit-linear-gradient(left, #21fcff, #fd40ff);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media (max-width: 768px) {
          font-size: 33px;
          font-weight: 700;
          line-height: 46px;
          letter-spacing: 0.01em;
          text-align: right;
        }
      }
    }

    &__container {
      &-small {
        animation: 10s linear infinite baner;
        background-image: url('../img/Game/baner.png');
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        -webkit-transform: translate3d(var(--move-initial), 0, 0);
        transform: translate3d(var(--move-initial), 0, 0);
        -webkit-animation: 12s linear infinite baner;
        animation: 12s linear infinite baner;
        white-space: nowrap;
      }
    }
    &::after {
      z-index: -1;
      content: '';
      position: absolute;
      width: 1381px;
      height: 1035px;
      top: 0;
      right: 0;
      background: url('../img/our-team/bg2.webp') 0 0 no-repeat;
    }
    &::before {
      z-index: -1;
      content: '';
      position: absolute;
      width: 1484px;
      height: 1500px;
      top: -145px;
      left: -440px;
      background: url('../img/our-team/1.webp') 0 0 no-repeat;
      @media (max-width: 768px) {
        top: -145px;
        left: -440px;
      }
    }
  }
}
.star {
  &-big {
    display: inline;
    margin-right: 59px;
    margin-left: 59px;
    @media (max-width: 768px) {
      display: none;
    }
  }
  &-small {
    display: none;
    margin-right: 59px;
    margin-left: 59px;
    @media (max-width: 768px) {
      display: inline;
    }
  }
}
// <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
// <path d="M11.1743 0.394525L12.0794 9.48862L20.9833 11.5482L11.8892 12.4532L9.82965 21.3571L8.92463 12.263L0.0207065 10.2035L9.1148 9.29845L11.1743 0.394525Z" fill="white"/>
// </svg>
