.resources {
  background-color: rgb(9, 8, 18);
  background: #090812;
  height: 1250px;
  position: relative;
  padding: 92px 0 110px 0;
  background-image: url('../img/our-resources/Ellipse.svg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  @media (max-width: 1024px) {
    height: 100%;
  }
  @media (max-width: 425px) {
    padding: 77px 0 156px 0;
  }

  &__body {
    margin: 0px auto;
    position: relative;
    max-width: 1645px;
  }
  &__info {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 117px;

    @media (max-width: 425px) {
      padding-bottom: 40px;
    }
  }

  &__title {
    margin-bottom: 20px;

    @media (max-width: 425px) {
      margin-bottom: 15px;
    }
  }

  &__subtitle {
    font-size: 45px;
    font-weight: 700;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: center;

    @media (max-width: 425px) {
      font-size: 28px;
      font-weight: 700;
      line-height: 31px;
      letter-spacing: 0em;
      text-align: center;
    }
  }

  &__container {
    justify-content: space-between;
    max-width: 1520px;
    // margin: 0 auto;
    display: flex;
    // justify-content: center;
    gap: 90px;
    @media (max-width: 1440px) {
      align-items: center;
      gap: 30px;
    }

    @media (max-width: 1024px) {
      flex-wrap: wrap-reverse;
      justify-content: space-evenly;
      gap: 97px;
    }

    .container {
      &__left {
        position: relative;
        display: flex;
        justify-content: flex-start;
        text-align: center;
        max-width: 680px;
        padding: 71px 0px 0 120px;
        height: 517px;
        margin-top: 27px;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        align-items: center;

        &::before {
          content: '';
          position: absolute;
          z-index: -1;
          width: 93%;
          height: 100%;
          right: 44px;
          top: 2px;
          background: url('../img/our-resources/mulo.png');

          @media (max-width: 1450px) {
            width: 108%;
            height: 100%;
            right: -39px;
            top: 2px;
          }
        }
        @media (max-width: 1450px) {
          max-width: 527px;
          padding: 71px 0px 0 27px;
        }

        @media (max-width: 576px) {
          padding: 30px 0px 0 20px;
          max-width: 345px;
          margin-top: 0;
          height: 543px;
        }
      }

      &__right {
        // width: 580px;
        width: 684px;
        height: 530px;
        position: relative;
        @media (max-width: 768px) {
          width: 500px;
        }
        @media (max-width: 425px) {
          height: 374px;
        }

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          // background: #c78cff;
          background-image: url('../img/our-resources/Ellipse-4.svg');
          mix-blend-mode: hard-light;
          -webkit-filter: blur(100px);
          filter: blur(100px);
          width: 367.01px;
          height: 362.63px;
          z-index: 500;

          @media (max-width: 1440px) {
            width: 440px;
            height: 377px;
          }
          @media (max-width: 1024px) {
            margin-bottom: 50px;
          }
          @media (max-width: 576px) {
            margin-bottom: 50px;
            width: 375px;
            height: 266px;
          }
        }
        &::after {
          content: '';
          position: absolute;
          background: url('../img/our-resources/Gradients.webp') no-repeat,
            url('../img/our-resources/Gradients.png') no-repeat;
          top: -158px;
          left: -134px;
          width: 840px;
          height: 827px;
          z-index: -1;
          @media (max-width: 1440px) {
          }
          @media (max-width: 1024px) {
            top: -158px;
            left: -182px;
          }
          @media (max-width: 390px) {
            background: url('../img/our-resources/Gradients2.webp') no-repeat,
              url('../img/our-resources/Gradients2.png') no-repeat;
            top: -132px;
            left: -16px;
            width: 1263px;
            height: 1250px;
          }
        }

        .info-block {
          position: absolute;
          display: flex;
          z-index: 50;
          gap: 10px;
          // font-family: Gilroy;
          font-size: 20px;
          font-weight: 400;
          line-height: 32px;
          letter-spacing: 0em;
          text-align: left;

          opacity: 0.6;
          @media (max-width: 576px) {
            font-size: 13px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: left;

            gap: 5px;
          }
          &:nth-child(1) {
            top: 67px;
            left: 115px;
            @media (max-width: 1775px) {
            }
            @media (max-width: 576px) {
              top: 37px;
              left: 67px;
            }
          }

          &:nth-child(2) {
            top: 192px;
            right: -25px;

            @media (max-width: 1450px) {
              top: 130px;
              right: 40px;
            }
            @media (max-width: 576px) {
              right: 59px;
              top: 116px;
            }
          }
          &:nth-child(3) {
            bottom: 27px;
            right: -36px;
            @media (max-width: 1450px) {
              right: 38px;
            }
            @media (max-width: 576px) {
              text-align: right;
              bottom: 63px;
              right: 53px;
            }
          }
          &:nth-child(4) {
            left: 12px;
            bottom: -118px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            @media (max-width: 1200px) {
              bottom: -15px;
            }
            @media (max-width: 768px) {
              bottom: 27px;
            }
            @media (max-width: 576px) {
              bottom: -30px;
              left: 8px;
              gap: 0;
            }
          }
        }
      }
    }
  }

  &__head {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 30px;

    @media (max-width: 576px) {
      font-size: 24px;
      font-weight: 700;
      line-height: 26px;
      letter-spacing: 0em;
      text-align: left;
      max-width: 260px;
      padding-bottom: 25px;
    }
  }

  &__text {
    font-family: Gilroy, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    opacity: 0.6;
    padding-bottom: 70px;

    @media (max-width: 576px) {
      padding: 0px 0px 60px 14px;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      text-align: left;
    }
  }

  &__logo {
    width: 50px;
    height: 50px;
    margin: 0 auto 45px;

    @media (max-width: 576px) {
      width: 35px;
      height: 33px;
      position: relative;
      right: 131px;
      margin: 16px auto 35px;
    }
  }
}

@media (max-width: 576px) {
  .marker {
    &-right {
      left: 148px;
      top: 2px;
      position: relative;
      svg {
        max-height: 30px;
        max-width: 35px;
      }
    }
    &-left {
      bottom: 9px;
      position: relative;
      left: -7px;
      svg {
        max-height: 30px;
        max-width: 35px;
      }
    }

    svg {
      max-height: 30px;
      max-width: 35px;
    }
  }
}

.star-text {
  position: absolute;
  bottom: -52px;
  right: 488px;
  @media (max-width: 1440px) {
    right: 36px;
  }
  @media (max-width: 576px) {
    position: absolute;
    bottom: 35px;
    right: 9px;
  }
}

.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  &-first {
    position: absolute;
    top: -223px;
  }
}
