.team {
  position: relative;
  padding: 145px 0 0 0;
  background: url('../img/our-team/lines.webp') 0 0 no-repeat;
  z-index: 1;

  // background: #7476ed;
  @media (max-width: 786px) {
    padding: 140px 0;
    // background: url('../img/our-team/bgmob.webp') 0% 0%/100% no-repeat;
    &::after {
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      // background: url('../img/our-team/bgmob1.webp') 0 0 repeat;
    }
  }
  @media (max-width: 425px) {
    padding: 18px 0 0 0;
  }
  &__con {
    position: relative;
  }
  &__title {
    margin-bottom: 10px;
  }
  &__info {
    text-align: center;
    text-transform: uppercase;
  }

  &__container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 47px;
    @media (max-width: 768px) {
      margin-top: 58px;
    }
  }

  &__column {
    @media (max-width: 1440px) {
      flex: 0 0 50%;
    }

    @media (max-width: 768px) {
      flex: 0 0 100%;
      &:not(:last-child) {
        margin-bottom: 50px;
      }
    }

    .card {
      margin: 0px auto;
      max-width: 400px;

      display: flex;
      flex-direction: column;

      &__img {
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 420px;
        @media (max-width: 768px) {
          margin-bottom: 20px;
        }
      }

      &__profession {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.4;
        text-align: center;
        opacity: 0.6;
      }

      &__name {
        font-size: 45px;
        font-weight: 700;
        line-height: 63px;
        letter-spacing: 0em;
        text-align: center;
        text-transform: uppercase;
      }

      &__social {
        display: flex;
        justify-content: center;

        .social {
          &__item {
            &:not(:last-child) {
              margin-right: 15px;
            }
            list-style-type: none;
          }

          &__link {
            padding: 10px;

            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 18px;
            width: 48px;
            height: 48px;
            background: #00dade00;
            border: 1px solid #767193;
            transition: all 0.3s ease 0s;

            &:hover {
              background: #56ffeb;
            }

            @media (max-width: 425px) {
              width: 48px;
              height: 48px;
              border-radius: 14px;
              padding: 5px;
            }
          }
        }
      }
    }
    &:nth-child(1) {
      .card {
        &__img {
        }

        &__name {
          color: #56ffeb;
        }

        &__text {
        }
      }
    }
    &:nth-child(2) {
      margin-top: 25px;
      .card {
        @media (max-width: 1440px) {
          // flex-direction: column-reverse;
        }
        &__img {
          order: 2;
          @media (max-width: 768px) {
            order: 0;
          }
        }

        &__name {
          color: #2c4dff;
        }

        &__text {
          order: 1;
        }
      }
    }
    &:nth-child(3) {
      margin-top: 100px;
      @media (max-width: 425px) {
        margin-top: 0;
      }
      .card {
        &__img {
        }

        &__name {
          color: #bf3aff;
        }

        &__text {
        }
      }
    }
    &:nth-child(4) {
      .card {
        flex-direction: column-reverse;
        &__img {
          @media (max-width: 768px) {
            order: 1;
          }

          &::after {
            z-index: 2;
            content: '';
            position: absolute;
            width: 46px;
            height: 46px;

            bottom: 12.8%;
            right: 18.4%;
            background: url('../img/our-team/Star.svg') 0 0 no-repeat;
            transform: translate(50%, 50%);
            @media (max-width: 768px) {
              bottom: 10.8%;
              right: 38.4%;
            }
          }
        }

        &__name {
          color: #fb41ff;
        }

        &__text {
        }
      }
    }
  }
}
.star {
  &-big {
    display: inline;
    // margin-right: 59px;
    // margin-left: 59px;
    @media (max-width: 1024px) {
      display: none;
    }
  }
  &-small {
    display: none;
    margin-right: 59px;
    margin-left: 59px;
    @media (max-width: 1024px) {
      display: inline;
    }
  }
}
.blur {
  .lines {
    display: none;
    @media (max-width: 390px) {
      display: inline;
      content: '';
      z-index: -1;
      position: absolute;
      width: 1062px;
      height: 910px;
      top: 869px;
      left: -2px;
    }
  }
  &__team {
    :nth-child(1) {
      z-index: -1;
      position: absolute;
      width: 1062px;
      height: 1137px;
      top: -42px;
      left: 531px;
      @media (max-width: 786px) {
        top: 133px;
        left: -194px;
      }
      @media (max-width: 425px) {
        top: 211px;
        left: -178px;
        width: 448px;
        height: 968px;
      }
    }

    :nth-child(2) {
      z-index: -1;
      position: absolute;
      width: 1381px;
      height: 642px;
      top: 0;
      right: 444px;
      @media (max-width: 786px) {
        right: 0;
      }
    }

    :nth-child(3) {
      position: absolute;
      z-index: -1;
      width: 1381px;
      height: 1035px;
      top: -142px;
      right: -623px;
      @media (max-width: 786px) {
        top: -140px;
      }
    }

    :nth-child(4) {
      display: none;
      @media (max-width: 768px) {
        display: block;
        position: absolute;
        z-index: -1;
        width: 1381px;
        height: 1035px;
        top: 649px;
        right: 311px;
      }
      @media (max-width: 425px) {
        display: block;
        position: absolute;
        z-index: -1;
        width: 1387px;
        height: 1035px;
        top: 594px;
        right: -97px;
      }
    }

    :nth-child(5) {
      display: none;
      @media (max-width: 768px) {
        display: block;
        z-index: -1;
        position: absolute;
        width: 1381px;
        height: 1366px;
        top: 1108px;
        right: -5px;
      }
      @media (max-width: 768px) {
        display: block;
        z-index: -1;
        position: absolute;
        width: 586px;
        height: 291px;
        top: 1312px;
        right: -5px;
      }
    }

    :nth-child(6) {
      display: none;
      @media (max-width: 768px) {
        display: block;
        z-index: -1;
        position: absolute;
        width: 1775px;
        height: 678px;
        top: 2117px;
        right: 264px;
      }
      @media (max-width: 425px) {
        width: 1381px;
        height: 100px;
        top: 1992px;
        right: -136px;
      }
    }
  }
}
.baner-bottom {
  z-index: 100;
  position: absolute;
  top: -620px;
  left: -76px;
  overflow: hidden;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  -webkit-transform: rotate(-9.09deg);
  -ms-transform: rotate(-9.09deg);
  transform: rotate(6deg);
  // background: rgba(255, 255, 255, 0.04);
  // background-image: url(../img/Game/baner.png);
  -webkit-backdrop-filter: blur(200px);
  backdrop-filter: blur(200px);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  text-transform: uppercase;

  @media (max-width: 1440px) {
  }
  @media (max-width: 1024px) {
    top: -670px;
  }
  @media (max-width: 768px) {
    top: -30px;
  }
  @media (max-width: 570px) {
    top: -237px;
  }
  &.small {
    z-index: 1000;
    background-color: #000;
    border: none;

    top: 1315px;
    left: -461px;
    @media (max-width: 1440px) {
      top: 1920px;
    }
    @media (max-width: 1024px) {
      font-size: 33px;
      font-weight: 700;
      line-height: 46px;
      letter-spacing: 0.01em;
      text-align: right;
      top: 1950px;
    }
    @media (max-width: 768px) {
      top: 2923px;
    }
    @media (max-width: 425px) {
      top: 2730px;
    }

    span {
      font-size: 72px;

      background: -webkit-linear-gradient(left, #21fcff, #fd40ff);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @media (max-width: 1440px) {
        font-size: 33px;
        font-weight: 700;
        line-height: 46px;
        letter-spacing: 0.01em;
        text-align: right;
      }
    }
  }

  &__container {
    &-small {
      animation: 10s linear infinite baner;
      // background-image: url('../img/Game/baner.png');
      width: fit-content;
      display: flex;
      position: relative;
      -webkit-transform: translate3d(var(--move-initial), 0, 0);
      transform: translate3d(var(--move-initial), 0, 0);
      -webkit-animation: 12s linear infinite baner;
      animation: 12s linear infinite baner;
      white-space: nowrap;
    }
  }
  &::after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 1381px;
    height: 1035px;
    top: 0;
    right: 0;
    background: url('../img/our-team/bg2.webp') 0 0 no-repeat;
  }
  &::before {
    z-index: -1;
    content: '';
    position: absolute;
    width: 1484px;
    height: 1500px;
    top: -145px;
    left: -440px;
    background: url('../img/our-team/1.webp') 0 0 no-repeat;
    @media (max-width: 768px) {
      top: -145px;
      left: -440px;
    }
  }
}
