.roadmap {
  overflow: hidden;
  background: #090812;
  position: relative;
  padding: 220px 0 220px 0;

  &::before {
    content: '';
    position: absolute;
    width: 1055px;
    height: 1776px;
    top: 0;
    left: 0;
    background: url('../img/Road-map/left.png') 0 0 no-repeat;
  }
  &::after {
    content: '';
    position: absolute;
    width: 1376px;
    height: 1776px;
    top: 28%;
    right: 0;
    background: url('../img/Road-map/right.png') 0 0 no-repeat;
  }

  &__container {
    position: relative;
    z-index: 5;

    &::before {
      content: '';
      position: absolute;
      width: 540px;
      height: 1450px;
      top: 180px;
      left: 48%;
      background: url('../img/Road-map/middle.png') 0 0 no-repeat;
      transform: translate(-50%, 0px);
      z-index: -10;
    }
  }
  &__body {
    padding: 0 11.6% 0 12.5%;
    &-info {
      margin-bottom: 95px;
    }
  }

  &__title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
  }
  &__subtitle {
    text-transform: uppercase;
    font-size: 45px;
    text-align: center;
    font-family: Helios, sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
  }

  &__table {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
  }
  &__move {
    position: relative;
    z-index: 100;
    height: 360px;
    margin-top: -360px;
  }

  &__move-item {
    position: absolute;
    width: 480px;
    height: 360px;
    top: 0;
    left: 0;
    /////исправить класы(состояние)
    &::before {
      content: '';
      position: absolute;
      width: 645px;
      height: 649px;
      top: 110px;
      left: 150px;
      z-index: -9;
    }
    &_1 {
      &::before {
        z-index: 1;
        content: '';
        position: absolute;
        width: 520px;
        height: 686px;
        top: 196px;
        left: 227px;
        background: url('../img/Road-map/first.png') 0 0/ 100% no-repeat;
        z-index: 1;
        @media (max-width: 767px) {
        }
      }
      @media (max-width: 425) {
      }
    }
    &_2 {
      &::before {
        z-index: 1;
        content: '';
        position: absolute;
        width: 520px;
        height: 686px;
        top: 678px;
        left: 460px;
        background: url('../img/Road-map/second.png') 0 0/ 100% no-repeat;
      }
    }
    &_3 {
      &::before {
        content: '';
        position: absolute;
        width: 468px;
        height: 649px;
        top: 1168px;
        left: 235px;
        background: url('../img/Road-map/third.png') 0 0/ 100% no-repeat;
        z-index: 1;
      }
    }
    &_4 {
      z-index: 1;
      &::before {
        content: '';
        position: absolute;
        width: 468px;
        height: 649px;
        top: 1748px;
        left: 533px;
        background: url('../img/Road-map/forth.png') 0 0/ 100% no-repeat;
        @media (max-width: 1705px) {
        }
      }
    }
    ////////
  }

  &__item {
    max-width: 450px;
    &:nth-child(1) {
      margin-bottom: 140px;
    }
    &:nth-child(2) {
      margin-bottom: 80px;
    }
    &:nth-child(3) {
      margin-bottom: 230px;
    }
    &_left {
      align-self: start;
    }
    &-title {
      position: relative;
      font-size: 22px;
      font-weight: 700;
      max-width: 282px;
      line-height: 140%;

      margin-bottom: 20px;
    }
  }

  &__list {
    &-item {
      position: relative;
      line-height: 140%;
      font-size: 18px;

      padding-left: 36px;

      span {
        opacity: 0.8;
      }
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      &::before {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        top: 2px;
        left: 0;
        background: url('../img/Road-map/yes.svg') 0 0 no-repeat;
      }
    }
  }
}
.more {
  font-family: Helios, sans-serif;
  font-size: 18;
  padding: 20px;
}
.svg {
  &-1 {
    top: 10px;
    right: 10px;
  }
}
