.shared {
  position: relative;
  height: 1024px;
  padding: 110px 0px;
  display: flex;
  align-items: center;
  background: url('../img/shared/back.jpg') 0 0 no-repeat;
  &__body {
    flex: 1 1 auto;
  }
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
.info {
  &__title {
    margin-bottom: calc(18 / 20) + em;
    line-height: 140%;
  }
  &__subtitle {
    font-family: Helios, sans-serif;
    font-weight: 700;
  }
}
