.media {
  position: relative;
  padding: 175px 0 165px 0;
  background: url('../img/social-media/bg.webp') 0 0 no-repeat, url('../img/social-media/bg.png') 0 0 no-repeat;
  @media (max-width: 1220px) {
    padding: 25px 0 0 0;
  }
  @media (max-width: 1024px) {
  }
  @media (max-width: 425px) {
    padding: 0px 0 100px 0;
  }

  &__con {
    position: relative;
    max-width: 1750px;
    // padding: 0px 15px 0 0;
    margin: 0px auto;

    &::before {
      z-index: -1;
      content: '';
      position: absolute;
      width: 978px;
      height: 1026px;
      top: -17%;
      right: 50%;
      transform: translate(50%, 0px);
      background: url('../img/social-media/2.webp') 0 0 no-repeat, url('../img/social-media/2.png') 0 0 no-repeat;
      @media (max-width: 1024px) {
      }
      @media (max-width: 425px) {
        display: none;
      }
    }
  }

  &__body {
    position: relative;
    margin: 0px auto;
    max-width: 1250px;
    @media (max-width: 1220px) {
      max-width: 906px;
      justify-content: space-evenly;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: space-around;
    }
  }

  &__info {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 65px;
  }

  &__subtitle {
  }

  &__swiper {
    display: flex;
    justify-content: center;
    padding-left: 25px !important;
  }
  .swiper-wrapper {
    z-index: 5;
    @media (min-width: 768px) {
      display: flex;
      //   justify-content: space-between;
      justify-content: center;
      flex-wrap: wrap;
    }
    @media (max-width: 1220px) {
      row-gap: 40px;
    }
    .swiper-slide {
      //   display: flex;
      justify-content: center;
      align-items: center;
      min-height: 400px;
      max-width: 280px;
      margin-right: 5px;

      @media (max-width: 1220px) {
        flex: 0 0 50%;
        max-width: 300px;
      }

      @media (max-width: 768px) {
        flex: 0 0 auto;
        text-align: center;
      }
      @media (max-width: 425px) {
        min-height: 300px;
        max-width: 209px;
        margin-right: 0;
      }

      .media__item {
        display: inline-block;
        position: relative;

        img {
          max-width: 100%;
        }
      }

      &:nth-child(1) {
      }
      &:nth-child(1) {
      }
      &:nth-child(1) {
      }
      &:nth-child(1) {
      }
    }
  }
  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 1027px;
    height: 1274px;
    top: -192px;
    left: -15px;
    background: url('../img/social-media/1.webp') 0 0 no-repeat, url('../img/social-media/1.png') 0 0 no-repeat;
    @media (max-width: 767px) {
      top: -192px;
      left: 377px;
      background: url('../img/social-media/blur.png') 0 0 no-repeat;
    }
    @media (max-width: 425px) {
      width: 494px;
      height: 704px;
      top: -322px;
      left: 39px;
    }
  }
  &::after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 1113px;
    height: 1411px;
    top: -331px;
    right: 0px;
    background: url('../img/social-media/right.webp') 0 0 no-repeat, url('../img/social-media/right.png') 0 0 no-repeat;

    @media (max-width: 767px) {
      width: 723px;
      height: 737px;
      top: 264px;
      right: 60px;
      background: url('../img/social-media/blur2.png') 0 0 no-repeat;
    }
    @media (max-width: 425px) {
      width: 406px;
      height: 966px;
      top: 145px;
    }
  }
}
.star-dis {
  position: absolute;
  top: 0px;
  right: 183px;
  @media (max-width: 768px) {
    top: 3px;
    right: 162px;
  }
}
